[Application]
name=HH
version=1.0
# How to launch the app - this calls the 'main' function from the 'myapp' package:
entry_point=hh:__main__

[Python]
version=3.6.1

[Include]
# Packages from PyPI that your application requires, one per line
# These must have wheels on PyPI:
pypi_wheels = requests==2.18.4
     wxPython==4.0.2a1.dev3699+c55bce4
     PyInvoice==0.1.0
     PyMySQL==0.8.0

# Other files and folders that should be installed
#files = LICENSE
#    data_files/
